# 1.0 Introduction

# 2.0 Authenticating with Twitter's API

In [1]:
!pip install Twython

Collecting Twython
  Downloading twython-3.9.1-py3-none-any.whl (33 kB)
Requirement already satisfied: requests>=2.1.0 in /Users/renatofarias/opt/anaconda3/lib/python3.8/site-packages (from Twython) (2.25.1)
Collecting requests-oauthlib>=0.4.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: idna<3,>=2.5 in /Users/renatofarias/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.1.0->Twython) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/renatofarias/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.1.0->Twython) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/renatofarias/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.1.0->Twython) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/renatofarias/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.1.0->Twython) (2020.12.5)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
     |████████████████████████████████| 151 kB 9.8 MB/s eta 0:00:01
Installing collected packages: oauthlib, requests-oauthlib, Twython
Successfully installed Twython-3.9.1 oauthlib-3.2.0 requests-oauthlib-1.3.1

In [2]:
from twython import Twython, TwythonError

In [288]:
pip install decorator==5.0.9

Collecting decorator==5.0.9
  Using cached decorator-5.0.9-py3-none-any.whl (8.9 kB)
Installing collected packages: decorator
  Attempting uninstall: decorator
    Found existing installation: decorator 5.0.6
    Uninstalling decorator-5.0.6:
      Successfully uninstalled decorator-5.0.6
Successfully installed decorator-5.0.9
Note: you may need to restart the kernel to use updated packages.

## 2.1 Enter app info and get auth URL

In order to authenticate with Twitter, we'll provide the app details and ask for a one-time authorization URL to authenticate your user with this app.

Copy and paste the API key and secret from your Twitter app into a file named keys.txt. The first line is the API_KEY and the second line of the file is API_SECRET_KEY. For example, a template for the keys.txt:

In [7]:
# open the keys file
my_file = open("keys.txt", "r")

# read the raw data
content = my_file.read()

# split all lines by  newline character
API_KEY, API_SECRET_KEY = content.split("\n")

# close the file
my_file.close()

In [13]:
twitter = Twython(API_KEY, API_SECRET_KEY)

authentication_tokens = twitter.get_authentication_tokens()
print(authentication_tokens['auth_url'])

https://api.twitter.com/oauth/authenticate?oauth_token=LPL9XAAAAAABZBP-AAABftrkV8E

## 2.2 Authorized tokens

In [14]:
# Replace the verifier with the pin number obtained with your web browser in the previous step
VERIFIER = '3396549'

twitter = Twython(API_KEY, API_SECRET_KEY,
                  authentication_tokens['oauth_token'],
                  authentication_tokens['oauth_token_secret'])

authorized_tokens = twitter.get_authorized_tokens(VERIFIER)

## 2.3 Use authorized tokens

In [16]:
twitter = Twython(API_KEY, API_SECRET_KEY,
                  authorized_tokens['oauth_token'],
                  authorized_tokens['oauth_token_secret'])

twitter.verify_credentials()

{'id': 1486095105811484677,
 'id_str': '1486095105811484677',
 'name': 'Renato Farias',
 'screen_name': 'renatolinsfar',
 'location': '',
 'description': '',
 'url': None,
 'entities': {'description': {'urls': []}},
 'protected': False,
 'followers_count': 9,
 'friends_count': 50,
 'listed_count': 2,
 'created_at': 'Tue Jan 25 21:55:10 +0000 2022',
 'favourites_count': 0,
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'verified': False,
 'statuses_count': 1,
 'lang': None,
 'status': {'created_at': 'Sat Jan 29 01:36:43 +0000 2022',
  'id': 1487238244727238656,
  'id_str': '1487238244727238656',
  'text': 'Olá, eu acabei de publicar no Medium uma matéria sobre meu trabalho de Análise de Redes usando o dataset “Spotify M… https://t.co/UsjSkojKUd',
  'truncated': True,
  'entities': {'hashtags': [],
   'symbols': [],
   'user_mentions': [],
   'urls': [{'url': 'https://t.co/UsjSkojKUd',
     'expanded_url': 'https://twitter.com/i/web/status/1487238244727238656',
     'display_url': 'twitter.com/i/web/status/1…',
     'indices': [117, 140]}]},
  'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 0,
  'favorite_count': 0,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'lang': 'pt'},
 'contributors_enabled': False,
 'is_translator': False,
 'is_translation_enabled': False,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': None,
 'profile_background_image_url_https': None,
 'profile_background_tile': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1486095326981275650/YBBkc1Ua_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1486095326981275650/YBBkc1Ua_normal.jpg',
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'has_extended_profile': True,
 'default_profile': True,
 'default_profile_image': False,
 'following': False,
 'follow_request_sent': False,
 'notifications': False,
 'translator_type': 'none',
 'withheld_in_countries': [],
 'suspended': False,
 'needs_phone_verification': False}

# 5.0 Creating Twitter mention network

- Aqui começa a análise dos dados coletados.

- A rede será criada de acordo com os steets que possuem o conteúdo "NFL".

## 5.1 Get some tweets

- Limit API

In [275]:
twitter.get_application_rate_limit_status()['resources']['search']

{'/search/tweets': {'limit': 180, 'remaining': 180, 'reset': 1645217222}}

- Para extrapolar o uso da API, iremos usar a função "sleep", para usar as 180 requisições a cada 15 minutos, extraindo assim o máximo de tweets em um curto intervalo de tempo.

In [276]:
import itertools
import time 

NUM_TWEETS_TO_FETCH = 17900
limit = 0

while limit < 5:
    cursor = twitter.cursor(twitter.search, q='NFL', count=100, result_type='mixed')
    search_tweets += list(itertools.islice(cursor, NUM_TWEETS_TO_FETCH))
    limit += 1
    time.sleep(900) #Dormir por 15 minutos
    
len(search_tweets)

304300

- Aqui os tweets estão em formato de lista.

- Na célula abaixo, iremos filtra apenas os itens que nos interessa, e transforma a lista em um dataframe pandas.

In [258]:
import pandas as pd

# Search tweets
dict_ = {'user': [], 'date': [], 'text': [], 'location':[], 'favorite_count': []}
for tweet in search_tweets:
    dict_['user'].append(tweet['user']['screen_name'])
    dict_['date'].append(tweet['created_at'])
    dict_['text'].append(tweet['text'])
    dict_['location'].append(tweet['user']['location'])
    dict_['favorite_count'].append(tweet['favorite_count'])
# Structure data in a pandas DataFrame for easier manipulation
df = pd.DataFrame(dict_)

In [259]:
df.shape

(89500, 5)

## 5.2 Baixando o Dataset

- Fazendo o download do dataset por dia.

In [260]:
dftotal.to_excel("day7.xlsx")

- Salvano dados separadamente, por dia.

In [341]:
day7.shape

(89500, 5)

In [248]:
day6.shape

(89500, 5)

In [234]:
day5.shape

(89500, 5)

In [232]:
day4.shape

(89500, 5)

In [183]:
day3.shape

(89500, 5)

In [334]:
day2.shape

(89500, 5)

In [333]:
day1.shape

(89500, 5)

In [342]:
dftotal = pd.concat([day1, day2, day3, day4, day5, day6, day7])

In [368]:
dftotal

,user,date,text,location,favorite_count
0,AdamSchefter,Wed Feb 09 22:20:33 +0000 2022,ESPN expanded its agreement with Peyton and El...,New York,50059
1,ChrisVannini,Wed Feb 09 16:31:52 +0000 2022,Petition to bring back fun Super Bowl logos. \...,Dallas (imported from Detroit),25840
2,JimTrotter_NFL,Wed Feb 09 21:10:48 +0000 2022,"The NFL says diversity, equity and inclusion a...","San Diego, CA",10343
3,scorpiogoodvibe,Thu Feb 10 23:02:45 +0000 2022,RT @SplashInteIlect: #NBATwitter FOLLOW TRAIN...,"Chicago, IL",0
4,OdmpEurope,Thu Feb 10 23:02:45 +0000 2022,RT @PolizeiMuenchen: False start für Frankfurt...,"Berlin, Deutschland",0
...,...,...,...,...,...
89495,Ian39864754,Tue Feb 15 20:49:23 +0000 2022,@Dan_KP Why would Levy want players who win ev...,,0
89496,tjens71,Tue Feb 15 20:49:23 +0000 2022,RT @RapSheet: The NFL watched all of Eminem’s ...,,0
89497,Buffy619,Tue Feb 15 20:49:23 +0000 2022,RT @j_Borders: @HeatleyJared The 4 game stretc...,,0
89498,jacobswartz3,Tue Feb 15 20:49:22 +0000 2022,RT @RapSheet: The NFL watched all of Eminem’s ...,"Piqua, OH",0
89499,_tremoney34,Tue Feb 15 20:49:22 +0000 2022,@SamHoweII @NFL_Memes You French?,,1

In [345]:
dftotal.to_excel("dftotal.xlsx")

## 5.3 Creating DiGraph 
It's not necessary to first filter out tweets containing user mentions due to a feature of Tweet Objects: every tweet has Entities which always contains a 'user_mentions' list, even if that list is empty. Since a tweet may mention more than one user, we need a nested for-loop.

In [296]:
import networkx as nx

D = nx.DiGraph()

for tweet in search_tweets:
    tweet_sn = tweet['user']['screen_name']
    for user_mention in tweet['entities']['user_mentions']:
        mentioned_sn = user_mention['screen_name']
        
        my_edge = (tweet_sn, mentioned_sn)
        if D.has_edge(*my_edge):
            D.edges[my_edge]['weight'] += 1
        else:
            D.add_edge(*my_edge, weight=1)

# 5.4 Analyze graph

## 5.4.1 Most popular users

In [297]:
max(D.nodes, key=D.in_degree)

'NFL'

In [298]:
from operator import itemgetter

sorted(D.in_degree(), key=itemgetter(1), reverse=True)[:5]

[('NFL', 9797),
 ('RamsNFL', 2746),
 ('TomBrady', 1685),
 ('NFLFilms', 1289),
 ('brgridiron', 1043)]

## 5.4.2 Conversation drivers

In [299]:
sorted(D.out_degree(weight='weight'), key=itemgetter(1), reverse=True)[:5]

[('PrinceodbRuiz', 1610),
 ('JoeShow68347212', 942),
 ('GgBob52440552', 700),
 ('TyronMiller7', 672),
 ('eazeee2004', 502)]

## 5.4.3 Connectivity

In [300]:
nx.is_weakly_connected(D)

False

In [301]:
nx.number_weakly_connected_components(D)

3128

## 5.4.4 Locations with the most  NFL Tweets

In [362]:
freq = dftotal.groupby(['location'])["user"].count()

In [363]:
type(freq)

pandas.core.series.Series

In [364]:
freq = freq.sort_values(ascending = False)

In [367]:
freq[:35]

location
                     220740
United States          9130
Los Angeles, CA        5293
Boise, ID              2991
Chicago, IL            2945
California, USA        2756
USA                    2588
Houston, TX            2352
Florida, USA           2324
Atlanta, GA            2275
New York, NY           2101
Texas, USA             2100
Dallas, TX             2091
Washington, DC         1954
New York, USA          1865
New Jersey, USA        1716
México                 1708
Cincinnati, OH         1657
Las Vegas, NV          1549
Pittsburgh, PA         1541
Philadelphia, PA       1407
Ohio, USA              1341
Seattle, WA            1314
Boston, MA             1256
Maryland, USA          1195
Miami, FL              1192
Pennsylvania, USA      1174
Brasil                 1155
Baltimore, MD          1145
Michigan, USA          1143
Los Angeles            1136
Indianapolis, IN       1133
New York               1129
Earth                  1125
London, England        1108
Name: user, dtype: int64

In [370]:
dftotal.nlargest(10, 'favorite_count')[['user','text','favorite_count']]

,user,text,favorite_count
71601,TomBrady,Mix in a water Matt…trust me https://t.co/WEVu...,236715
53701,TomBrady,Mix in a water Matt…trust me https://t.co/WEVu...,231836
35801,TomBrady,Mix in a water Matt…trust me https://t.co/WEVu...,226551
71601,NFL,THAT. WAS. INCREDIBLE. \n\nDre. Snoop. Mary. E...,223146
53701,NFL,THAT. WAS. INCREDIBLE. \n\nDre. Snoop. Mary. E...,223022
35801,NFL,THAT. WAS. INCREDIBLE. \n\nDre. Snoop. Mary. E...,222886
17901,NFL,THAT. WAS. INCREDIBLE. \n\nDre. Snoop. Mary. E...,222782
1,NFL,THAT. WAS. INCREDIBLE. \n\nDre. Snoop. Mary. E...,222657
17901,TomBrady,Mix in a water Matt…trust me https://t.co/WEVu...,220927
1,TomBrady,Mix in a water Matt…trust me https://t.co/WEVu...,215360